<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application {{ "-" + title if title }}</title>
    {% block css %} {# default content #}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <div>{% block header %} {% endblock %}</div>
      <div class="p-3">{% block body %} {% endblock %}</div>
    </div>
  </body>
  {% block script %} {# default content #}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  {% endblock %}
</html>
